/*Contacts*/
.contacts {
  display: flex;
}
.contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__imgenvelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--grey-color);
}

.contacts__imgphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--grey-color);
}

.contacts__item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link:hover,
.contacts__link:focus,
.contacts__link:hover .contacts__imgenvelope,
.contacts__link:focus .contacts__imgenvelope,
.contacts__link:hover .contacts__imgphone,
.contacts__link:focus .contacts__imgphone {
  color: var(--brand-color);
  fill: var(--brand-color);
}
