/*Projects*/
.filters-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-container {
  display: flex;
  margin: 0px;
}
.portfolio-section {
  margin-top: 94px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  margin-bottom: 94px;
}
.gallery__item {
  margin-top: 28px;
  margin-left: 28px;
  border: 1px solid #eeeeee;
}

.gallery__link:hover .overlay-description,
.gallery__link:focus .overlay-description {
  transform: translateY(0%);
}

.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__item:nth-child(7) {
  margin-bottom: 0px;
}

.gallery__item:nth-child(8) {
  margin-bottom: 0px;
}

.gallery__item:nth-child(9) {
  margin-bottom: 0px;
}

.gallery__item:hover,
.gallery__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery__description {
  padding: 20px 24px;
}

.gallery__style {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.gallery__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
